body{
/* background-color: #734b6d; */
margin: 0;

background-color: #27ae60;
/* background-color:rgba(221, 221, 221, 0.774); */
}
.title{
    display: flex;
    justify-content: center;
    align-items: center;
    
    /* border:2px solid white; */
    background-color: #2ecc71;
    
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    height: 80px;
    margin: none;
    padding: 0;
}
.title h1{
    font-family: "Mitr";
    color: white;
    margin: 0;
    font-size: 40px;
    font-weight: bold;

}

.main-container{
  text-align: center;
  /* margin: auto; */
    margin-top: 20px;
    /* border: 2px solid black; */
    width: 100%;
    
}

.main-container .card-container{
    display: inline-block;
    width: 49%;
    height: 400px;
    background-color: white;
    margin-top: 10px;
    margin-bottom: 10px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    border: none;
    
}
.card-container .card-header{
    font-family: "Darker Grotesque";
    font-size: 35px;
}

.card-container.left{
    margin-right: 10px;
    background-color: #16a085;
    border: none;
}

.card-container.right{
    background-color: #f39c12;
}

#employee-list-header{
    background-color: #1abc9c;
    /* background-color: #16a085; */
}
#active-employees-header{
    background-color: #f1c40f;
    
}

.card-content{
    text-align: left;
    float: left;
    width: 100%;
    font-family: "Darker Grotesque";
    font-size: 30px;
    color: white;
    height: 330px;
    /* overflow: hidden; */
    overflow: scroll;
    cursor: pointer;
}

.card-content ul{
    list-style-type: none;
    padding: 0;
}

.card-content .employeeListItem{
    position: relative;
    display: block;
    padding: 10px 15px;
    border-bottom: 1px solid rgba(221, 221, 221, 0.774);
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.card-content .employeeListItem:hover{
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

/* SETTING BUTTON FOR EMPLOYEE LIST */
.name{
    display: inline-block;
}
.settings{
    float: right;
}
.btn.btn-secondary.dropdown-toggle{
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 50px;
    background-color: transparent;
    border: none;
    transition: 0.3s ease;
}
.btn.btn-secondary.dropdown-toggle:hover{
    /* background-color: rgba(221, 221, 221, 0.774); */
    background-color: #1abc9c;

}
.btn.btn-secondary.dropdown-toggle i{
    padding-top: 5px;
}

.btn.btn-secondary.dropdown-toggle::before{
    display: none;
}
.btn.btn-secondary.dropdown-toggle::after{
    display: none;
}

/* SETTING ITEMS FOR EMPLOYEE LIST */

.dropdown-menu{
    padding: 0;
    width: 70px;
}

.dropdown-menu .employee-list-setting{
    padding-left: 5px;
    font-size: 20px;
    cursor: pointer;
    /* box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24); */
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.dropdown-menu .employee-list-setting:hover{
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

/* BOTTOM HALF */

.card-container.left.qrcode{
    text-align: center;
    background: transparent;
    border: 2px solid black;
    
}

.card-header.qrcode{
    display: inline-block;
    border: 2px solid black;
    width: 50%;
    
}

.card-content.qr-code{
    text-align: center;
    border:2px solid purple;
    cursor: default;
    
}

.qr-code-container{
    /* display: inline-block; */
    /* width: 50%;
    height: 100%; */
    
    background-color: red;   

}