{% extends "bootstrap/base.html" %}



{% block styles %}
{{ super () }}

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">


<link rel="stylesheet" type = "text/css" href="{{ url_for('static',filename='css/layout.css') }}">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Darker+Grotesque">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Mitr">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="shortcut icon" href="https://s3.amazonaws.com/django-blog/ico/favicon_v2.ico">

{% endblock styles %}

{% block body %}
<div class="title">
    <h1>Cin Cout</h1>
 </div>
<div class="main-container">
    <div class="card-container" id = "left">
        <div class="card-header" id = "employee-list-header">
            Employee List
        </div>
        <div class="card-content">
            <ul>
                {% block nameList %}{% endblock nameList %}
            </ul>
        </div>
    </div>
    <div class="card-container" id = "right">
        <div class="card-header" id = "active-employees-header">
            Active Employees
        </div>    
        
    </div>
   
</div>





<!-- THIS IS SCRIPTS  -->
{% block scripts %}
<script
  src="https://code.jquery.com/jquery-3.4.1.js"
  integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
  crossorigin="anonymous"></script>
<script src="{{url_for('static', filename='js/trial.js')}}"></script>
{{super()}}
{% endblock %}


{% endblock body %}



