{% extends "bootstrap/base.html" %}



{% block styles %}
{{ super () }}

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type = "text/css" href="{{ url_for('static',filename='css/layout.css') }}">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Darker+Grotesque">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Mitr">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="shortcut icon" href="https://s3.amazonaws.com/django-blog/ico/favicon_v2.ico">

<script src="https://www.gstatic.com/firebasejs/6.3.3/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/6.3.3/firebase-firestore.js"></script>
<script src="https://www.gstatic.com/firebasejs/6.3.3/firebase-auth.js"></script>
<script src="https://www.gstatic.com/firebasejs/6.3.3/firebase-database.js"></script>


{% endblock styles %}

{% block body %}

<div class="title">
    <h1>Cin Cout</h1>
    <div class="add-employee-btn">
            <i class="material-icons md-48"   data-toggle="modal" data-target="#exampleModalCenter">
                add
                </i>
  <div class="modal" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" style = "text-align: center;"role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title" id="exampleModalLongTitle">Add New Employee</h3>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <ul class = "add-employee-question-ul">
              <li class = "add-employee-question"><input type="text" placeholder="First Name"></li>
              <li class = "add-employee-question"><input type="text" placeholder="Last Name"></li>
              <li class = "add-employee-question"><input type="text" placeholder="Email"></li>
              <li class = "add-employee-question"><input type="text" placeholder="Student ID"></li>
              <li class = "add-employee-question"><input type="text" placeholder="Position"></li>
          </ul>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" id = "add-employee-btn"  data-dismiss="modal" class="btn btn-primary">Add New Employee</button>
        </div>
      </div>
    </div>
  </div>
    </div>
 </div>
<div class="main-container">

    <div class="top-half">
        <div class="card-container left" id = "left">
            <div class="card-header" id = "employee-list-header">
                Employee List
            </div>
            <div class="card-content">
                <ul class = "employeeListItemUL" >
                    {% block nameList %}{% endblock nameList %}
                    
                </ul>
            </div>
        </div>
        <div class="card-container right" id = "right">
            <div class="card-header" id = "active-employees-header">
                Active Employees
            </div>  
            <div class="card-content">
              <ul class = "employeeListItemUL" id = "activeEmployeeListUL">
                  
                  
              </ul>
          </div>  
        </div>
    </div>

    <div class="bottom-half">
        <div class="card-container left qrcode" id = "left">
                <div class="card-header qrcode" id = "employee-list-header">
                    Employee ID
                </div>
                <div class="card-content qr-code">
                    <div class="qr-code-container">
                        {% block qrcode %}
                        
                        {% endblock qrcode %}
                        

                    </div>
                </div>
            </div>
        <div class="card-container right" id = "left">
                <div class="card-header" id = "active-employees-header">
                    Employee's TimeSheet
                </div>
                {% block timestamp %}
                
                {% endblock timestamp %}  
                </div>
            </div>
    </div>
</div>






<!-- THIS IS SCRIPTS  -->
{% block scripts %}
<script
  src="https://code.jquery.com/jquery-3.4.1.js"
  integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
  crossorigin="anonymous"></script>
<script src="{{url_for('static', filename='js/login.js')}}"></script>
<script src="{{url_for('static', filename='js/manage.js')}}"></script>
{{super()}}
{% endblock %}


{% endblock body %}



